.login-input-container {
  position: relative;

  input {
    padding-right: 32px;
    background-color: transparent;
    border-color: var(--border);
    color: var(--headline);
    
    &::placeholder {
      color: var(--secondary);
    }

    &:focus {
      border-color: var(--border);
      box-shadow: 0 0 2px 2px var(--headline);
    }
  }

  .input-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--secondary);
  }
}